.icon-text{
    display: inline-flex !important;
}
.information-text{
    position: fixed !important;
}
.description-text{
    position: fixed !important;
    display: contents !important;
    word-break: break-all; 
}