.bar{
    background-color: #216ac9;
    height: 80px;
}

.nav-titulo{
    color: white;
    margin: 10px;
    position: absolute;
    top: 20px;
    font-size: 24px;
    font-weight: bolder;
}

.auth-nav{
    float:right;
    margin: 20px 30px 0 0;
}