.tabla{
    margin: 40px;
}
.tabla-schedule{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.titulo{
    font-size: 24px;
    color: #808080;
}

.linea{
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    color: #808080;
}

.cabeceras-tabla{
    background-color: #f4f2ff !important;
    border: 1px solid #D9D5EC !important;
    border-right: 0px !important;
    border-left: 0px !important;
    color: #6E6893 !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
}

.bordes-tabla{
    border-bottom: 1px solid #D9D5EC !important;
    border-right: 0px !important;
    border-left: 0px !important;
}

.tarjeta-tabla{
    box-shadow: 0px 2px 5px #0000004d;
    border-radius: 0px !important;
}

.tarjeta-azul{
    background-color: #E6E6F2 !important;
    border-radius: 40px !important;
    padding: 5px 10px !important;
    color: #4A4AFF !important;
}

.tarjeta-verde{
    background-color: #CDFFCD !important;
    border-radius: 40px !important;
    padding: 5px 10px !important;
    color: #007F00 !important;
}

.nombre{
    color: #25213B !important;
    background-color: white !important;
}

.email{
    color: #6E6893 !important;
    background-color: white !important;
    font-weight: 100 !important; 
}

.no-border{
    border: 0px !important;
}


.menu-icon{
    width: 20px;
} 

.icono-texto{
    cursor: pointer;
}

.icono-buscar{
    position: absolute;
    transform: translate(8px, 5px);
}

.tabla-menu{
    margin: 10px;
}

.filtrar{
    width: auto !important;
    padding: 5px 10px;
    float: left !important;
    border: 1px solid #6D5BD0 !important;
    border-radius: 10px;
    margin-right: 20px;
}

.buscar{
    width: 50% !important;
    float: left !important;
}

.registrar{
    width: auto  !important;
    float: right !important;
    margin-top: auto;
}

.input-buscar{
    border: 1px solid #6D5BD0 !important;   
    border-radius: 10px;
    padding: 8px;
    padding-left: 36px;
    width: 300px;
    background-color: #F4F2FF;
}
.icon {
    width: auto;
    margin: 0px 0px;
}
.search {
    float: left;
}
.register-button {
    float: right;
}
.register-schedule-button {
    float: right;
    margin-bottom: 10px !important;
}

.no-users-message{
    display: none;
}